/* Base styles for overall scaling */
body {
    font-family: 'Roboto', sans-serif;
    background: #E6EFF9; /* Consistent light blue background */
}

/* Container for login, centered and scaled appropriately */
.login-container {
    width: 400px; /* Slightly larger than before */
    margin: 100px auto;
    padding: 30px; /* Increased padding */
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.sign-in {
    font-family: 'Marmelad';
    color: black;
    text-align: left;
    font-size: 1.8em;
}

/* Input field styling, larger and easier to interact with */
.input-field {
    width: 90%;
    padding: 12px; /* Larger padding */
    margin-bottom: 20px; /* More space between fields */
    border: 2px solid #51B4E1;
    border-radius: 5px;
    font-size: 1.1em; /* Larger text in inputs */
}
/* We want to override the browser default native red borders
/* Reset the default invalid styles */
.input-field:invalid {
    border-color: initial; /* Resets to default color */
}

/* Add custom styles */
.input-field:focus {
    border-color:#51B4E1; /* Your desired focus color */
    outline: none;
}

/* Button styling, even with input */
.button {
    width: 98%;
    font-family: 'Roboto';
    padding: 12px;
    border-radius: 5px;
    font-size: 1.1em;
    color: white;
    background: #0077CC;
    cursor: pointer;
    margin-bottom: 20px;
}

/* Style adjustments for the registration prompt */
.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em; /* Slightly larger text */
    margin-top: 10px;
}

.extra-options span {
    color: black;
}

.extra-options a {
    color: #0077CC;
    text-decoration: none;
}
