.search-page{
    padding: 20px;
}

.search-header{
    font-family: 'Marmelad';
    color: #0A2239;
    font-size: 1.4em;
    text-align: left;
    padding: 5px 20px;
}

.rounded-div{
    background-color: #E7F7FF;
    border-radius: 20px;
    margin: 5px 20px;
    padding: 20px;
}