.search-page{
    padding: 20px;
}

.search-header{
    font-family: 'Marmelad';
    color: #0A2239;
    font-size: 1.4em;
    text-align: left;
    padding: 0px 20px;
}
.box{
    flex-direction: column;
}
.rounded-div{
    background-color: #E7F7FF;
    border-radius: 20px;
    margin: 5px 20px;
    padding: 30px;
}
.title
{
    color: black;
    font-weight: bold;
    position: absolute;
    text-align: left;
    font-size: xx-large;
    font-stretch:extra-expanded;
    font-family: 'roboto';
    /* Just some formatting / design stuff */
    font-size: 1.3em;
}
.image
{
    
    text-align: left;
}
.image-border
{
    border: 1px solid #0A2239;
    border-radius: 10px;
}

.search-content
{
    margin-top: 50px; 
}
.Description
{
    text-align: left;
    color: black;
    font-family: 'roboto';
    font-size: 1.0em;
}