.addTrailForm {
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px 30px;
    width: 100%;
    font-family: 'Roboto';
}
.add-trail-text {
    padding-left: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between form elements */
  }  
.input-field-2, .input-field-3 {
    box-sizing: border-box;
}
.input-field-2 {
    width: 50%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #51B4E1;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #fff;
    color: #333;
}
.input-field-3 {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 2px solid #51B4E1;
    border-radius: 5px;
    font-size: 1.1em;
    font-family: 'Roboto';
    background-color: #fff;
    color: #333;
    height: 200px;
    resize: none;
}
/* Add margin to the file input to space it from the other fields */
input[type="file"] {
    display: block;
    font-size: 1em;
    color: #0A2239;
    margin-top: 10px; /* Ensure it has space above it */
    border: none;
    background: none;
}
.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-row .location-link {
    color: #1E7CAE;
    font-size: 0.9em;
    text-decoration: underline;
    cursor: pointer;
}
.location-link:hover {
    color: #0A2239;
}
.img-preview{
    max-width: 100px;
    max-height:100px;
    margin-right: auto;
}
.align-right {
    margin-top: 10px;
    margin-left: auto;
    width: 200px;
}
